/* // Reset Css //  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------/-/---------------------*/

body {
    background-image: url(../img/fundo-site.png);/*maneira de colocar img.*/
    background-repeat: no-repeat;/*isso diz para o background não repetir o fundo*/
    background-size: cover;/*isso diz para o background ocupar todo o body*/
    min-height: 100vh;
	display: flex;
    flex-direction: column;
	font-family: 'Outfit', sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}
  
a:hover {
	opacity: 0.7;
}
  
.logo_pokemon {
	width: 250px;
}
  
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Outfit', sans-serif;
	background: #23232e94;
	height: 14vh;
}
  
.nav-list {
	list-style: none;
	display: flex;
}
  
.nav-list li {
	letter-spacing: 3px;
	margin-left: 32px;
}
  
.mobile-menu {
	display: none;
	cursor: pointer;
}
  
.mobile-menu div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
	transition: 0.3s;
}

.containers {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main {
	font-family: 'Libre Baskerville', serif;
    flex: 1;
    padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.footer_container{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.nav-list_footer{
	display: flex;
	list-style: none;
}

.nav-list_footer li {
	letter-spacing: 3px;
	margin: 30px 0 20px 28px;
}

h1 {
	margin: 1.5em;
	text-align: center;
	font-size: 2.4rem;
	font-family: 'Hind', sans-serif;
	font-weight: 700;
	color: #fff;
}

ol {
	padding: 45px;
	background-color: #193b85a6;
	border-radius: 10px;
	line-height: 2em;
}

li {
	padding: 35px;
	color: #fff;
}

.enfase {
	font-size: 20px;
	font-weight: bold;
}

.secao-principal {
	padding: 10px;
}

p {
	line-height: 20px;
	margin-bottom: 15px;
}

.banner-footer {
	cursor: pointer;
	width: 500px;
}

@media (min-width: 320px) and (max-width: 480px){
	body {
		overflow-x: hidden;
	}

	nav {
		width: 100%;
	}

	.nav-list {
		position: absolute;
		top: 14vh;
		right: 0;
		width: 100vw;
		height: 100vh;
		background: #23232ee5;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
	}
	  
	.nav-list li {
		margin-left: 0;
		opacity: 0;
	}
	  
	.mobile-menu {
		display: block;
	}
	
	.nav-list.active {
		transform: translateX(0);
	}

	@keyframes navLinkFade {
		from {
		  opacity: 0;
		  transform: translateX(50px);
		}
		to {
		  opacity: 1;
		  transform: translateX(0);
		}
	}
	
	.mobile-menu.active .line1 {
		transform: rotate(-45deg) translate(-8px, 8px);
	}
	
	.mobile-menu.active .line2 {
		opacity: 0;
	}

	  .mobile-menu.active .line3 {
		transform: rotate(45deg) translate(-5px, -7px);
	}

	.containers{
		flex-direction: column;
	}

	main {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h1 {
		margin: 2.5em;
		text-align: center;
		font-size: 1.5rem;
		font-family: 'Hind', sans-serif;
		font-weight: 700;
		color: #fff;
	}

	p {
		line-height: 25px;
		margin-bottom: 40px;
	}
	
	.footer_container{
		margin: 30px 0 0 0;
		padding: 0;
	}

	.banner-footer{
		width: 200px;
	}

	.nav-list_footer{
		display: none;
	}
}

