/* // Reset Css //  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------/-/---------------------*/

body {
    background-image: url(../img/fundo-site.png);/*maneira de colocar img.*/
    background-repeat: no-repeat;/*isso diz para o background não repetir o fundo*/
    background-size: cover;/*isso diz para o background ocupar todo o body*/
    min-height: 100vh;
	font-family: 'Outfit', sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}
  
a:hover {
	opacity: 0.7;
}
  
.logo_pokemon {
	width: 250px;
}
  
nav {
    width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Outfit', sans-serif;
	background: #23232e94;
	height: 14vh;
}
  
.nav-list {
	list-style: none;
	display: flex;
}
  
.nav-list li {
	letter-spacing: 3px;
	margin-left: 32px;
}
  
.mobile-menu {
	display: none;
	cursor: pointer;
}
  
.mobile-menu div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
	transition: 0.3s;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
	font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: hsl(51, 28%, 50%);
    color: #222;
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
    cursor: pointer;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}

.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 180px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.footer_container{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.nav-list_footer{
	display: flex;
	list-style: none;
}

.nav-list_footer li {
	letter-spacing: 3px;
	margin: 40px 0 40px 28px;
}

.banner-footer {
	cursor: pointer;
	width: 500px;
}